In [139]:
import fitz
import random
import pandas as pd
from spacy.lang.en import English
import re
from sentence_transformers import SentenceTransformer

device = 'mps'

In [224]:
pdf_path = 'lloyds_personal_t_n_c.pdf'

def open_and_read_pdf(pdf_path: str) -> list[dict]:
    doc = fitz.open(pdf_path)
    pages_n_texts = []

    for page_n, page in enumerate(doc):
        text = page.get_text()
        text = text.replace('\n', ' ')
        tabs = page.find_tables()

        for tab in tabs:
            text += 'Helper table/s from this page: '
            for idx, line in enumerate(tab.extract()):
                text += f'Row: {idx}, Values: {line}'

        pages_n_texts.append({
            'page_n': page_n,
            'page_char_count': len(text),
            'page_word_count': len(text.split(' ')),
            'page_sentence_count_raw': len(text.split('. ')),
            'page_token_count': len(text) / 4, # 1 token ~= 4 chars
            'text': text
        })

    return pages_n_texts

pages_n_texts = open_and_read_pdf(pdf_path)

In [225]:
random.sample(pages_n_texts, k=1)

[{'page_n': 27,
  'page_char_count': 4528,
  'page_word_count': 836,
  'page_sentence_count_raw': 37,
  'page_token_count': 1132.0,
  'text': '28 Club Lloyds Account variable interest rates applicable to each part of the account balance AER% Gross p.a. % From £1 - £3,999.99  1.50 1.49  From £4,000 - £5,000  3.00 2.96 £5,000.01 + We won\'t pay interest on any balance amounts over £5,000 AER stands for Annual Equivalent Rate and illustrates what the interest rate would be if interest was paid and  compounded once each year.  We will pay your interest ‘gross’, this means we will not deduct tax automatically from it. Depending on your personal  circumstances you may need to pay tax on the interest you earn. You will be responsible for paying any tax you may owe  to HM Revenue & Customs (HMRC). We provide a range of exclusive offers on banking products to our Club Lloyds customers. You can find details about them  and the conditions that apply at: lloydsbank.com/clublloyds in our UK branches or by phoning us on 0345 300 0000.  These banking offers may change from time to time.  A Club Lloyds Account holder can also choose from a range of Lifestyle Benefits. These are described in the Club Lloyds  welcome pack. Only one Lifestyle Benefit can be chosen for each account. These benefits are provided by different  third-party suppliers, through the administrator Blackhawk Network EMEA Limited, PO Box 1586, Westside, London Road,  Hemel Hempstead, Hertfordshire, United Kingdom, HP1\xa09SF. Company Registration number 4155659. The supplier\'s terms and conditions will apply to each Lifestyle Benefit. The conditions explain how the supplier   and administrator can make changes to them. After opening your Club Lloyds Account or adding Club Lloyds to your Added Value Account , you will receive a welcome  letter or email. This will contain the terms and conditions of each of the benefits and how to select them. If you do not  receive this email or letter within 14\xa0days, please contact Blackhawk Network EMEA Limited on 0345\xa0303\xa00303 or  +44\xa01733\xa0462\xa0224 if calling from abroad (8am – 8pm, Monday to Saturday, 9am – 6pm Sundays and bank holidays).  You\xa0can also use this number to choose your Lifestyle Benefit if you have not done so already. You have 30\xa0days from  the date the account is opened or you add Club Lloyds to select the benefit you wish to receive. Your chosen benefit  will start at the end of this period. The benefit you select will apply for a year. If you make your choice more than 30\xa0days  after opening the account or adding Club Lloyds, then it will be fulfilled on a pro-rata basis. For example, if you make your  Lifestyle Benefit selection 6\xa0months after the end of the 30-day selection period, the Lifestyle Benefit you choose will only  be valid for the remaining 6\xa0months of the benefit year. 30\xa0days before the end of the benefit period, you will be given  the option to change the benefit. If you wish to change your benefit you must do so within 30\xa0days. If you choose not to  change your benefit, then your existing benefit will be automatically renewed for another year.  The benefit option selected will continue for as long as: • the Club Lloyds Account remains open; or  • you have Club Lloyds added to an Added Value Account; and  • the Club Lloyds fee continues to be paid or conditions for the fee to be waived are met You can\'t combine Lifestyle Benefits with any other offer or exchange them for cash or other alternatives. The range   of Lifestyle Benefits available may change from time to time. We will tell you if we make changes to the range of   Lifestyle Benefits. Club Lloyds benefits will stop if you: • close your Club Lloyds Account; • remove Club Lloyds from your account;  • change to one of our other account types (without Club Lloyds); or  • stop being eligible for the account in any other way Basic Account Our Basic Account is for customers who are legally resident in the UK and do not qualify for one of our other bank  accounts. There are limits on the number of accounts you can have and what you can then do. You can have up to two Basic  Accounts; one account must be in your sole name and one in joint names. Either of you can sign and give instructions on  behalf of the other. We do not provide a cheque book or arranged overdraft with this account. A B C D E F G H I J K L M N O P Q R S T U V W X Y Z ? Helper table/s from this page: Row: 0, Values: [\'\', \'AER%\', \'Gross p.a. %\']Row: 1, Values: [\'From £1 - £3,999.99\', \'1.50\', \'1.49\']Row: 2, Values: [\'From £4,000 - £5,000\', \'3.00\', \'2.96\']Row: 3, Values: [\'£5,000.01 +\', "We won\'t pay interest on any balance amounts over £5,000", None]'}]

In [226]:
df = pd.DataFrame(pages_n_texts)
df.head()

,page_n,page_char_count,page_word_count,page_sentence_count_raw,page_token_count,text
0,0,143,28,1,35.75,Personal Banking Terms and Conditions and Ba...
1,1,381,78,3,95.25,2 This booklet: • Explains the agreement betwe...
2,2,4258,769,34,1064.50,3 Section A – Our agreement When you open a cu...
3,3,3604,634,11,901.00,4 Where to find what you want to know Section ...
4,4,2543,421,8,635.75,5 Section Can we take money from your account ...

In [227]:
df.describe().round(2)

,page_n,page_char_count,page_word_count,page_sentence_count_raw,page_token_count
count,36.00,36.00,36.00,36.00,36.00
mean,17.50,3720.22,693.50,24.11,930.06
std,10.54,1166.06,217.72,9.68,291.51
min,0.00,143.00,28.00,1.00,35.75
25%,8.75,3269.25,609.00,19.00,817.31
50%,17.50,4038.00,745.50,25.00,1009.50
75%,26.25,4519.75,845.00,31.25,1129.94
max,35.00,5294.00,973.00,42.00,1323.50

In [228]:
nlp = English()
nlp.add_pipe('sentencizer')

for item in pages_n_texts:
    item['sentences'] = list(nlp(item['text']).sents)
    item['sentences'] = [str(sentence) for sentence in item['sentences']]
    item['page_sentence_count_spacy'] = len(item['sentences'])

In [229]:
df = pd.DataFrame(pages_n_texts)
df.describe().round(2)

,page_n,page_char_count,page_word_count,page_sentence_count_raw,page_token_count,page_sentence_count_spacy
count,36.00,36.00,36.00,36.00,36.00,36.00
mean,17.50,3720.22,693.50,24.11,930.06,26.86
std,10.54,1166.06,217.72,9.68,291.51,9.76
min,0.00,143.00,28.00,1.00,35.75,1.00
25%,8.75,3269.25,609.00,19.00,817.31,21.00
50%,17.50,4038.00,745.50,25.00,1009.50,27.00
75%,26.25,4519.75,845.00,31.25,1129.94,33.50
max,35.00,5294.00,973.00,42.00,1323.50,46.00

In [252]:
sentence_chunk_size = 20
lag = 10

def split_list(input_list: list[str], lag: int=lag, slice_size: int=sentence_chunk_size) -> list[list[int]]:
    lag = slice_size - lag
    return [input_list[i:i+slice_size] for i in range(0, len(input_list) - slice_size + 1 + lag, lag)]

test_list = list(range(70))
split_list(test_list)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
 [10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29],
 [20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39],
 [30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49],
 [40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59],
 [50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69],
 [60, 61, 62, 63, 64, 65, 66, 67, 68, 69]]

In [253]:
for item in pages_n_texts:
    item['sentence_chunks'] = split_list(item['sentences'])
    item['n_chunks'] = len(item['sentence_chunks'])

In [254]:
random.sample(pages_n_texts, k=1)

[{'page_n': 33,
  'page_char_count': 3375,
  'page_word_count': 562,
  'page_sentence_count_raw': 19,
  'page_token_count': 843.75,
  'text': "34 Direct debits The company or organisation you are paying will usually tell you 10\xa0working days before they change the amount or date  of the payment. Tax We pay any interest to you without taking tax off. Depending on your personal circumstances, you may need to pay tax on  the interest you earn. You are responsible for paying any tax you owe to HMRC. Any interest we pay you will count towards  your personal savings allowance. Taxes or costs may apply to you that aren't charged by us and/or won't be paid through us.  Company information Who we are • Our company details: Lloyds Bank plc (company number 2065) is a company registered with the Registrar of Companies for England and Wales.  Registered Office: 25 Gresham Street, London EC2V\xa07HN.  To find out more about our company, see the Registrar's website: companieshouse.gov.uk   or call the Registrar on 0303\xa01234\xa0500. • Our VAT number is 244155576 • We lend money and offer savings, insurance and other financial services to our customers How we are regulated We are authorised by the Prudential Regulation Authority, and regulated by the Financial\xa0Conduct Authority  and Prudential Regulation Authority under registration number 119278. • To find out more about us, see the Financial Services Register: www.fca.org.uk or call the FCA on 0800\xa0111\xa06768. • We are regulated by the Office of Communications ('Ofcom'). If you have a complaint, particularly about our text messaging service, you may also be able to take it to Ofcom  at Riverside\xa0House, 2a\xa0Southwark Bridge Road, London SE1\xa09HA, www.ofcom.org.uk telephone 020\xa07981\xa03040,  or textphone 020\xa07981\xa03043 Industry codes and memberships • We are a member of UK Finance. Please see www.ukfinance.org.uk to find out more • We adhere to The Standards of Lending Practice which are monitored and enforced by the Lending Standards Board:  www.lendingstandardsboard.org.uk • Eligible deposits with us are protected by the Financial Services Compensation Scheme: lloydsbank.com/legal/ financial-services-compensation-scheme We are covered by the Financial Ombudsman Service • We are a member of the Financial Services Culture Board (FSCB). Find out more at:   financialservicescultureboard.org.uk  • We follow advertising codes regulated by the Advertising Standards Authority ('ASA'). If you would like to find out  more about the advertising codes or the ASA, or complain to them about any of our advertising,  please see www.asa.org.uk, call the ASA on 020\xa07492\xa02222, email them at enquiries@asa.org.uk,  or write to the Advertising Standards Authority, Castle House, 37-45\xa0Paul Street, London, EC2A\xa04LS Other information • We will communicate with you in English • Cashpoint® is a registered trademark of Lloyds\xa0Bank plc • The Post\xa0Office® and Post\xa0Office logo are registered trademarks of the Post\xa0Office Ltd • You can ask for a copy of this agreement or download it from our website.   For more information visit us at: lloydsbank.com or go to any Lloyds Bank branch Section R – How we process your personal information This information is not part of your Personal Banking conditions.  Who looks after your personal information  Your personal information will be held by Lloyds\xa0Bank Plc which is part of the Lloyds Banking Group.  More information on the Group can be found at: lloydsbankinggroup.com A B C D E F G H I J K L M N O P Q R S T U V W X Y Z ? ",
  'sentences': ['34 Direct debits The company or organisation you are paying will usually tell you 10\xa0working days before they change the amount or date  of the payment.',
   'Tax We pay any interest to you without taking tax off.',
   'Depending on your personal circumstances, you may need to pay tax on  the interest you earn.',
   'You are responsible for paying any tax you owe to HMRC.',
   'Any interest we pay you will count towards  your personal savings allowance.',
   "Taxes or costs may apply to you that aren't charged by us and/or won't be paid through us.",
   ' Company information Who we are • Our company details: Lloyds Bank plc (company number 2065) is a company registered with the Registrar of Companies for England and Wales.',
   ' Registered Office: 25 Gresham Street, London EC2V\xa07HN.',
   " To find out more about our company, see the Registrar's website: companieshouse.gov.uk   or call the Registrar on 0303\xa01234\xa0500. •",
   'Our VAT number is 244155576 • We lend money and offer savings, insurance and other financial services to our customers How we are regulated We are authorised by the Prudential Regulation Authority, and regulated by the Financial\xa0Conduct Authority  and Prudential Regulation Authority under registration number 119278. •',
   'To find out more about us, see the Financial Services Register: www.fca.org.uk or call the FCA on 0800\xa0111\xa06768. •',
   "We are regulated by the Office of Communications ('Ofcom').",
   'If you have a complaint, particularly about our text messaging service, you may also be able to take it to Ofcom  at Riverside\xa0House, 2a\xa0Southwark Bridge Road, London SE1\xa09HA, www.ofcom.org.uk telephone 020\xa07981\xa03040,  or textphone 020\xa07981\xa03043 Industry codes and memberships • We are a member of UK Finance.',
   'Please see www.ukfinance.org.uk to find out more • We adhere to The Standards of Lending Practice which are monitored and enforced by the Lending Standards Board:  www.lendingstandardsboard.org.uk • Eligible deposits with us are protected by the Financial Services Compensation Scheme: lloydsbank.com/legal/ financial-services-compensation-scheme We are covered by the Financial Ombudsman Service • We are a member of the Financial Services Culture Board (FSCB).',
   "Find out more at:   financialservicescultureboard.org.uk  • We follow advertising codes regulated by the Advertising Standards Authority ('ASA').",
   'If you would like to find out  more about the advertising codes or the ASA, or complain to them about any of our advertising,  please see www.asa.org.uk, call the ASA on 020\xa07492\xa02222, email them at enquiries@asa.org.uk,  or write to the Advertising Standards Authority, Castle House, 37-45\xa0Paul Street, London, EC2A\xa04LS Other information • We will communicate with you in English • Cashpoint® is a registered trademark of Lloyds\xa0Bank plc • The Post\xa0Office® and Post\xa0Office logo are registered trademarks of the Post\xa0Office Ltd • You can ask for a copy of this agreement or download it from our website.',
   '  For more information visit us at: lloydsbank.com or go to any Lloyds Bank branch Section R – How we process your personal information This information is not part of your Personal Banking conditions.',
   ' Who looks after your personal information  Your personal information will be held by Lloyds\xa0Bank Plc which is part of the Lloyds Banking Group.',
   ' More information on the Group can be found at: lloydsbankinggroup.com A B C D E F G H I J K L M N O P Q R S T U V W X Y Z ?'],
  'page_sentence_count_spacy': 19,
  'sentence_chunks': [['34 Direct debits The company or organisation you are paying will usually tell you 10\xa0working days before they change the amount or date  of the payment.',
    'Tax We pay any interest to you without taking tax off.',
    'Depending on your personal circumstances, you may need to pay tax on  the interest you earn.',
    'You are responsible for paying any tax you owe to HMRC.',
    'Any interest we pay you will count towards  your personal savings allowance.',
    "Taxes or costs may apply to you that aren't charged by us and/or won't be paid through us.",
    ' Company information Who we are • Our company details: Lloyds Bank plc (company number 2065) is a company registered with the Registrar of Companies for England and Wales.',
    ' Registered Office: 25 Gresham Street, London EC2V\xa07HN.',
    " To find out more about our company, see the Registrar's website: companieshouse.gov.uk   or call the Registrar on 0303\xa01234\xa0500. •",
    'Our VAT number is 244155576 • We lend money and offer savings, insurance and other financial services to our customers How we are regulated We are authorised by the Prudential Regulation Authority, and regulated by the Financial\xa0Conduct Authority  and Prudential Regulation Authority under registration number 119278. •',
    'To find out more about us, see the Financial Services Register: www.fca.org.uk or call the FCA on 0800\xa0111\xa06768. •',
    "We are regulated by the Office of Communications ('Ofcom').",
    'If you have a complaint, particularly about our text messaging service, you may also be able to take it to Ofcom  at Riverside\xa0House, 2a\xa0Southwark Bridge Road, London SE1\xa09HA, www.ofcom.org.uk telephone 020\xa07981\xa03040,  or textphone 020\xa07981\xa03043 Industry codes and memberships • We are a member of UK Finance.',
    'Please see www.ukfinance.org.uk to find out more • We adhere to The Standards of Lending Practice which are monitored and enforced by the Lending Standards Board:  www.lendingstandardsboard.org.uk • Eligible deposits with us are protected by the Financial Services Compensation Scheme: lloydsbank.com/legal/ financial-services-compensation-scheme We are covered by the Financial Ombudsman Service • We are a member of the Financial Services Culture Board (FSCB).',
    "Find out more at:   financialservicescultureboard.org.uk  • We follow advertising codes regulated by the Advertising Standards Authority ('ASA').",
    'If you would like to find out  more about the advertising codes or the ASA, or complain to them about any of our advertising,  please see www.asa.org.uk, call the ASA on 020\xa07492\xa02222, email them at enquiries@asa.org.uk,  or write to the Advertising Standards Authority, Castle House, 37-45\xa0Paul Street, London, EC2A\xa04LS Other information • We will communicate with you in English • Cashpoint® is a registered trademark of Lloyds\xa0Bank plc • The Post\xa0Office® and Post\xa0Office logo are registered trademarks of the Post\xa0Office Ltd • You can ask for a copy of this agreement or download it from our website.',
    '  For more information visit us at: lloydsbank.com or go to any Lloyds Bank branch Section R – How we process your personal information This information is not part of your Personal Banking conditions.',
    ' Who looks after your personal information  Your personal information will be held by Lloyds\xa0Bank Plc which is part of the Lloyds Banking Group.',
    ' More information on the Group can be found at: lloydsbankinggroup.com A B C D E F G H I J K L M N O P Q R S T U V W X Y Z ?']],
  'n_chunks': 1}]

In [255]:
df = pd.DataFrame(pages_n_texts)
df.describe().round(2)

,page_n,page_char_count,page_word_count,page_sentence_count_raw,page_token_count,page_sentence_count_spacy,n_chunks
count,36.00,36.00,36.00,36.00,36.00,36.00,36.00
mean,17.50,3720.22,693.50,24.11,930.06,26.86,2.22
std,10.54,1166.06,217.72,9.68,291.51,9.76,0.93
min,0.00,143.00,28.00,1.00,35.75,1.00,0.00
25%,8.75,3269.25,609.00,19.00,817.31,21.00,2.00
50%,17.50,4038.00,745.50,25.00,1009.50,27.00,2.00
75%,26.25,4519.75,845.00,31.25,1129.94,33.50,3.00
max,35.00,5294.00,973.00,42.00,1323.50,46.00,4.00

In [256]:
pages_n_chunks = []

for item in pages_n_texts:
    for sentence_chunk in item['sentence_chunks']:
        chunk_dict = {}
        chunk_dict['page_n'] = item['page_n']

        # join chunks into a paragraph-like structure
        joined_sentence_chunk = ''.join(sentence_chunk).replace('  ', ' ').strip()
        joined_sentence_chunk = re.sub(r'\.([A-Z])', r'. \1', joined_sentence_chunk)
        chunk_dict['sentence_chunk'] = joined_sentence_chunk

        # add metadata
        chunk_dict['chunk_chars'] = len(joined_sentence_chunk)
        chunk_dict['chunk_words'] = len([word for word in joined_sentence_chunk.split(' ')])
        chunk_dict['chunk_tokens'] = len(joined_sentence_chunk) / 4

        pages_n_chunks.append(chunk_dict)

len(pages_n_chunks)

80

In [257]:
random.sample(pages_n_chunks, k=1)

[{'page_n': 24,
  'sentence_chunk': "25 Overdraft information for Under 19s, Islamic*, Cash* and Basic Accounts We don't offer arranged overdrafts on these accounts. We won't charge you interest if you go overdrawn. *We don't offer these accounts to new customers. Account fees The information below in the sections 'Withdrawing cash', 'Buying goods or services in a foreign currency' and 'Other services' apply to personal current accounts and savings accounts (if your savings accounts offer the relevant card  or services). Withdrawing cash If you take money in pounds from your account using any Lloyds Bank or Bank of Scotland cash machine in the UK, we won't charge you for the withdrawal. If you use any other cash machine you may be charged by the machine owner. The machine will show you the amount and tell you it will be taken from your account when you withdraw the cash. Paying-in cash using a machine You can pay cash into your account at one of our branches using a Lloyds Bank or Bank of Scotland Immediate Deposit Machine or one of our cash machines that accept cash deposits. We won’t charge you for this deposit. If you pay cash into your account away from our branches using an Automated Deposit Machine, you may be charged by the machine owner. The machine will show you the amount and tell you it will be taken from your account when you deposit the cash. Cash withdrawal in a foreign currency, or cash withdrawal in pounds outside the UK (at a cash machine or over the counter) If you use your card to: • withdraw cash in a foreign currency, or • withdraw cash in pounds outside the UK, then unless you've asked the cash machine or card terminal provider to do the currency conversion, the card payment scheme, for example, Visa, will convert the amount into pounds the day the transaction is processed using their exchange rate. In Visa's case this will be the Visa Payment Scheme Exchange Rate. The symbol on your card will tell you which payment scheme applies. You can check the payment scheme exchange rate for your card online at: lloydsbank.com/ travel/using-debit-credit-cards-abroad We will charge you a foreign currency transaction fee of 2.99% of the pounds payment amount. This is a fee for currency conversion. We will also charge a foreign currency cash fee of £1.50 for each withdrawal. In some countries, the cash machine or card terminal you use may offer you the option of paying for the transaction in pounds. If you choose to pay in pounds, the exchange rate will generally be provided by the cash machine operator or card terminal provider. In this instance, we will not charge you a foreign currency transaction fee, but we will charge a foreign cash fee of £1.50 for each withdrawal.",
  'chunk_chars': 2692,
  'chunk_words': 466,
  'chunk_tokens': 673.0}]

In [258]:
df = pd.DataFrame(pages_n_chunks)
df.describe().round(2)

       page_n  chunk_chars  chunk_words  chunk_tokens
count   80.00        80.00        80.00         80.00
mean    18.21      2386.96       431.11        596.74
std      9.50       736.47       125.60        184.12
min      2.00      1224.00       225.00        306.00
25%     10.75      1915.75       345.75        478.94
50%     17.50      2267.00       404.00        566.75
75%     26.25      2785.00       508.75        696.25
max     35.00      4682.00       776.00       1170.50

In [259]:
df.head()

,page_n,sentence_chunk,chunk_chars,chunk_words,chunk_tokens
0,2,3 Section A – Our agreement When you open a cu...,2307,391,576.75
1,2,They may be included in letters or application...,2155,381,538.75
2,2,You must not hold money for someone else in yo...,1920,348,480.00
3,3,4 Where to find what you want to know Section ...,3033,531,758.25
4,3,"Explains what happens if you use Open Banking,...",2237,365,559.25

### Embedding chunks

In [260]:
emb_model = SentenceTransformer('all-mpnet-base-v2').to(device)
#mixedbread-ai/mxbai-embed-large-v1
text_chunks = [item['sentence_chunk'] for item in pages_n_chunks]
len(text_chunks)

80

In [261]:
text_chunk_embs = emb_model.encode(text_chunks, batch_size=16, convert_to_tensor=True)
text_chunk_embs.shape, text_chunk_embs

(torch.Size([80, 768]),
 tensor([[ 0.0239, -0.0968,  0.0073,  ...,  0.0380, -0.0420,  0.0084],
         [ 0.0288, -0.0775, -0.0199,  ...,  0.0540, -0.0324,  0.0072],
         [ 0.0148, -0.0559, -0.0035,  ...,  0.0430, -0.0391, -0.0011],
         ...,
         [ 0.0060, -0.0109, -0.0181,  ...,  0.0235, -0.0758, -0.0099],
         [-0.0331, -0.0685, -0.0053,  ...,  0.0332, -0.0491,  0.0223],
         [ 0.0079, -0.0691, -0.0206,  ...,  0.0266, -0.0643, -0.0058]],
        device='mps:0'))

In [262]:
emb_chunks_df = pd.DataFrame(pages_n_chunks)
embs_only_df = pd.DataFrame(text_chunk_embs.to('cpu'))
emb_chunks_df['embedding'] = embs_only_df.values.tolist()
emb_df_save_path = 'emb_chunks_df.csv'
emb_chunks_df.to_csv(emb_df_save_path, index=False)

In [263]:
emb_chunks_df['embedding']

0     [0.023868504911661148, -0.09681934118270874, 0...
1     [0.02879343554377556, -0.07750559598207474, -0...
2     [0.014817321673035622, -0.055876679718494415, ...
3     [0.033143796026706696, -0.0936892107129097, -0...
4     [0.016689995303750038, -0.05574336647987366, -...
                            ...
75    [0.010411597788333893, -0.0706917941570282, -0...
76    [0.035197194665670395, -0.016004489734768867, ...
77    [0.00603171531111002, -0.01086839847266674, -0...
78    [-0.03309999406337738, -0.06848695874214172, -...
79    [0.007898915559053421, -0.06907203048467636, -...
Name: embedding, Length: 80, dtype: object